
body {
    max-width: 980px;
    margin: auto;

    font-family: Playfair Display SC;
}
header .logo {
    width: 70px;
}
header .icon-menu {
    width: 30px;
}
@media (min-width: 610px) {
header nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex: 1;
}
}
header .menu {
    display: flex;
    align-items: center;
}
header .banner {
    background-image: url(../img/man.jpg);
    display: grid;
    grid-template-columns: 2.5fr 1fr;
    margin: 0px;
}
header .stend {
    border-style: solid;
    margin: 100px;
    border-color: rgb(211, 194, 178);
    background-color:rgb(211, 194, 178);
    display: flex;
    align-self: center;
    flex-direction: column;
    align-items: baseline;
}
header .svg {
    width: 100px;
}
@media (min-width: 310px) {
header .about-us {
    margin: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
}
@media (min-width: 900px) {
    header .about-us {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
main .small-image {
    width: 200px;
    height: 200px;
}
main .product-purse {
    margin: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
}
main .large-photo {
    width: 400px;
    height: 550px;
}
main .block-information {
    display: grid;
    padding: 30px;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 30px;
}
footer form label {
    display: grid;
    grid-row-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
}
footer {
    margin: 50px;
}
footer .karta {
    margin: 50px;
    display: grid;
    grid-template-columns: 2fr 1fr;
}
footer .infa-contact {
    border-style: solid;
    margin: 100px;
    border-color: white

}