:root {
    --main color: black;
}

body {
    max-width: 980px;
    margin: auto;
}

@media (min-width: 610px) {
    header nav {
        display: flex;
        margin: 30px;
        grid-column-gap: 60px;
    }
}
header .icon-menu {
    width: 30px;
    height: 30px;
}
header .logo {
    width: 50px;
}

header .block-information {
    background-image: url(../img/man.jpg);
    background-size: cover;
    background-position: center;
    min-height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

header .menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    grid-column-gap: 20px;
}
header .menu a {
    font-weight: bold;
}
.block-information {
    display: grid;
    grid-template-columns: 50% 50%;
}
.photo-skin {
    width: 40%;
    height: 60%;
}
.photo-belt {
    width: 40%;
    height: 60%;
}
.karta {
    margin: 100px;
    padding: 10px;
    min-width: 1000px;
    display: grid;
    grid-template-columns: 50% 50%;
}
.infa-contact {
    padding: 100px;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-size: 2rem;
}
